<div class="document blacklight-<%= show_pubtypeid(result) %>">
  <div class="record-image">
    <% if has_coverimage?(result) %>
        <img src="<%= show_coverimage_link(result) %>" border="0"/>
    <% else %>
        <span class="pt-icon pt-<%= show_pubtypeid(result) %>"></span>
    <% end %><br/><%= show_pubtype(result) %>
  </div>
  <div class="documentHeader">
    <% if has_restricted_access?(result) %>
        <h5 class="index_title"><%= show_resultid(result) %>. This result cannot be shown to
          guests.  <%= link_to "Please log in to see this result.", new_user_session_path %></h5>
    <% else %>
        <h5 class="index_title"><%= show_resultid(result) %>.
          <%= link_to show_title(result), path_for_eds_article(dbid: show_dbid(result), an: show_an(result), resultId: show_resultid(result), hightlight: show_resultid(result)) %>
        </h5>
    <% end %>
    <%# bookmark functions for items/docs %>
    <%# render_index_doc_actions document, :wrapping_class => "documentFunctions span2" %>
  </div>
  <% unless has_restricted_access?(result) %>
      <dl class="dl-horizontal dl-invert">

        <% if (show_view_option == 'brief' or show_view_option == 'detailed') and has_authors?(result) %>
            <dt class="blacklight-author_display">Author:</dt>
            <dd class="blacklight-author_display"><%= show_authors(result) %></dd>
        <% end %>

        <% if has_titlesource?(result) %>
            <dt class="blacklight-format">Source:</dt>
            <dd class="blacklight-format"><%= show_titlesource(result) %></dd>
        <% elsif has_pubdate?(result) %>
            <dt class="blacklight-format">Published:</dt>
            <dd class="blacklight-format"><%= show_pubdate(result) %></dd>
        <% end %>

        <% if has_pubtype?(result) %>
            <dt class="blacklight-format">Format:</dt>
            <dd class="blacklight-format"><%= show_pubtype(result) %></dd>
        <% end %>

        <% if has_abstract?(result) %>
            <dt class="blacklight-abstract">Abstract:</dt>
            <dd class="blacklight-abstract"><%= show_abstract(result) %></dd>
        <% end %>

        <% if has_subjects?(result) and show_view_option == 'detailed' %>
            <dt class="blacklight-subject">Subjects:</dt>
            <dd class="blacklight-abstract"><%= show_subjects(result) %></dd>
        <% end %>

        <%= render partial: 'blacklight_eds/articles/fulltext_links', locals: { delimiter: ' ', record: result } %>

      </dl>
  <% else %>
      <dl class="dl-horizontal dl-invert">
        <dt class="blacklight-author_display">Note:</dt>
        <dd class="blacklight-author_display">This result cannot be displayed unless you
          are <%= link_to "logged in", new_user_session_path %>.
        </dd>
      </dl>
  <% end %>
</div>
