<div id="per_page-dropdown" class="btn-group">
  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
      <%= link_to(show_results_per_page.to_s + " per page", "#") %> <span class="caret"></span>    
  </button>
  <ul class="dropdown-menu" role="menu">
        <li><%= link_to("10 per page", request.fullpath.split("?")[0] + "?" + generate_next_url + "&eds_action=SetResultsPerPage(10)") %></li>
        <li><%= link_to("20 per page", request.fullpath.split("?")[0] + "?" + generate_next_url + "&eds_action=SetResultsPerPage(20)") %></li>
        <li><%= link_to("50 per page", request.fullpath.split("?")[0] + "?" + generate_next_url + "&eds_action=SetResultsPerPage(50)") %></li>
        <li><%= link_to("100 per page", request.fullpath.split("?")[0] + "?" + generate_next_url + "&eds_action=SetResultsPerPage(100)") %></li>
  </ul>
</div>
