<% require 'sanitize' %>

<% if has_restricted_access?(@record) %>
    <meta http-equiv="REFRESH" content="0;url=<%= new_user_session_path %>" />
<% else %>

    <div class="row">

      <div id="content" class="span9 show-document">

        <%= render 'previous_next_doc' %>

        <% @page_title = Sanitize.clean(show_title(@record)) << " - Detailed @record - Blacklight" %>

        <%# this should be in a partial -%>
        <div id="document" class="articles<%# TODO: FIX render_document_class %>">
          <div id="doc_<%= params[:dbid] %>_<%= params[:an] %>">


            <%# bookmark/folder functions -%>
            <h1><%= show_title(@record) %></h1>

            <div class="document">
              <dl class="dl-horizontal dl-invert">

                <% if has_authors?(@record) %>
                    <dt class="blacklight-author_display">Author:</dt>
                    <dd class="blacklight-author_display"><%= show_authors(@record) %></dd>
                <% end %>

                <% if has_titlesource?(@record) %>
                    <dt class="blacklight-author_display">Source:</dt>
                    <dd class="blacklight-author_display"><%= show_titlesource(@record) %></dd>
                <% elsif has_pubdate?(@record) %>
                    <dt class="blacklight-format">Published:</dt>
                    <dd class="blacklight-format"><%= show_pubdate(@record) %></dd>
                <% end %>

                <% if has_pubtype?(@record) %>
                    <dt class="blacklight-format">Format:</dt>
                    <dd class="blacklight-format"><%= show_pubtype(@record) %></dd>
                <% end %>

                <% if has_abstract?(@record) %>
                    <dt class="blacklight-abstract">Abstract:</dt>
                    <dd class="blacklight-abstract"><%= show_abstract(@record) %></dd>
                <% end %>

                <% if has_subjects?(@record) %>
                    <dt class="blacklight-subject">Subjects:</dt>
                    <dd class="blacklight-abstract"><%= show_subjects(@record) %></dd>
                <% end %>

                <% if has_full_text_on_screen?(@record) %>
                    <a name="fulltext"></a>
                    <dt class="blacklight-subject">Full Text:</dt>
                    <% if current_user %>
                        <dd class="blacklight-abstract"><%= show_full_text_on_screen(@record).html_safe %></dd>
                    <% else %>
                        <dd class="blacklight-abstract"><%= link_to "Please log in to display full-text.", new_user_session_path %></dd>
                    <% end %>
                <% end %>

              </dl>
            </div>
          </div>
        </div>
      </div>

      <div id="sidebar" class="span3">
        <div class="@record-image-detail">
          <% if has_coverimage?(@record) %>
              <img src="<%= show_coverimage_link(@record) %>" border="0" />
          <% else %>
              <span class="pt-icon pt-<%= show_pubtypeid(@record) %>"></span>
          <% end %>
          <br />
          <%= show_pubtype(@record) %>
        </div>
        <% if current_user %>
            <%= render partial: 'fulltext_links', locals: { delimiter: '<br/>'.html_safe, record: @record } %>
        <% else %>
            <dt class="blacklight-fulltext"><%= link_to "Please log in to see full-text options", new_user_session_path %></dt>
        <% end %>

        <br />
        <dt class="blacklight-fulltext">Other Options:</dt>
        <dd class="blacklight-fulltext"><%= link_to("View record in EDS", show_plink(@record),:target => "_blank") %></dd>

      </div><!--/span -->
    </div>
<% end %>
<%# render :partial => 'debug' %>
